@media (min-width: 768px) {
    /* Banner */
    .banner {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .banner h1 {
        padding-top: 130px;
        font-size: 36px;
    }

    .banner p {
        font-size: 18px;
    }

    /* Advantages */
    .advantages {
        grid-template-columns: 1fr; /* Одна горизонтальна колонка */
        grid-auto-flow: column; /* Всі елементи йдуть в рядок */
        justify-content: space-between; /* Розподіл простору між елементами */
    }

    .advantage {
        width: 100%; /* Елементи рівномірно розтягуються */
        max-width: 200px; /* Максимальна ширина для гарного вигляду */
    }

    .icon-wrap {
        width: 100px;
        height: 100px;
        font-size: 36px;
    }

    .advantage p {
        font-size: 18px;
    }

    /* Catalog */
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Hidden burger-menu */
    .burger-menu, .close-menu {
        display: none;
    }

    /* Show menu */
    .header .menu ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: static;
        background: transparent;
        padding: 0;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .header .menu ul a {
        color: #333;
    }
}

@media (min-width: 1200px) {
    .wrap-header {
        flex-direction: row;
        justify-content: space-around;
    }

    .catalog {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
    }

    .banner h1 {
        font-size: 48px;
    }

    .banner p {
        font-size: 20px;
    }
}