@media (min-width: 768px) {
    /* Banner */
    .banner {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .banner h1 {
        padding-top: 130px;
        font-size: 36px;
    }

    .banner p {
        font-size: 18px;
    }

    /* Advantages */
    .advantages > .container {
        display: flex;
        /* width: 100%; */
        gap: 20px;
        align-content: center;
        justify-content: center;
    }

    .advantage {
        width: 180px; 
        margin-bottom: 0;
    }

    .icon-wrap {
        width: 100px;
        height: 100px;
        font-size: 36px;
    }

    .advantage p {
        font-size: 18px;
    }

    /* Catalog */
    .catalog {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
    }

    .catalog > .container {
        gap: 40px;
    }

    .card {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    /* Review */
    .slider-btn.prev {
        left: 20%;
    }

    .slider-btn.next {
        right: 20%;
    }

    /* Hidden burger-menu */
    .burger-menu, .close-menu {
        display: none;
    }

    /* Show menu */
    .header .menu ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: static;
        background: transparent;
        padding: 0;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .header .menu ul a {
        color: #333;
    }
}

@media (min-width: 1200px) {
    .wrap-header {
        flex-direction: row;
        justify-content: space-around;
    }

    .container > .advantages {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    section > .advantages {
        height: 500px;
    }

    .advantage {
        width: calc((100% - 60px) / 3); /* Три рівних блоки */
        /* max-width: 300px;  */
    }

    .icon-wrap {
        width: 120px;
        height: 120px;
        font-size: 40px;
    }

    .advantage h3 {
        font-size: 20px;
    }

   .catalog {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
         /* flex-basis: calc((100% - 2* 24px) / 3);*/
    } 

    .catalog > .container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    .card {
        max-width:426px;
    }

    .banner h1 {
        font-size: 48px;
    }

    .banner p {
        font-size: 20px;
    }
}