/* Google font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Dropped styles */
h1,h2,h3,p {
    margin: 0;
    text-align: center;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

/* Custom properties */
:root {
    --color: #545c66;
    --color-btn: #02f3d6;
    --hover-btn: #04bba5;
    --second-color: #821864;
    --second-color-tr: #821864b5;
    --light-pink: #ecb8f0;
    --light-pink-tr: #ecb8f096;
    --light-color: #fff;
    --dark-bg-color: #11014669;
    --light-bg-color: aliceblue;
    --block-bg: #0000003d;
    --border-color: #ddd;
    --box-shadow: #ededed;
    --dark-shadow: rgba(0, 0, 0, 0.2);
    --transition: transition: color 0.3s;
    --dark-text: #333;
    --light-text: aliceblue;
}
/* Common styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    color: var(--light-text);
    background: linear-gradient(135deg, #5a354a 0%, #9a678a 50%, #5a354a 100%);
    background-attachment: fixed;
    position: relative;
}

.container {
    padding: 0 12px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}

button, a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: var(--color-btn);
    color: var(--dark-text);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover, a.button:hover {
    background: var(--hover-btn);
}

/* Header */
.header {
    background: var(--light-bg-color);
    padding: 10px 0;
    border-bottom: 1px solid #c0c5cc;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.wrap-header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

/* Burger-menu */
.close-menu {
    display: none; 
    position: absolute;
    top: 52%;
    right: 30%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 1001; 
    transition: var(--transition);
}

/* When opening the menu, we show a cross */
.menu ul.active + .close-menu {
    display: block;
}


.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: #333;
}

/* List menu */
.header .menu ul {
    list-style: none;
    display: none; 
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .menu ul a {
    text-decoration: none;
    color: #333;
    transition: var(--transition);
}

.header .menu ul a:hover {
    color: var(--light-color);
    background-color: var(--hover-btn);
    padding: 6px;
    border-radius: 4px;
    transition: var(--transition);

}

/* Open menu */
.menu ul.active {
    display: flex;
    position: absolute;
    top: 54%;
    right: 26%;
}

.no-scroll {
    overflow: hidden;
    height: 100vh; 
}

/* Banner */
.banner {
    position: relative; 
    background: url('../img/banner.webp') no-repeat center center/cover;
    color: #fff; 
    text-align: center;
    padding-top: 120px;
    z-index: 1;
    overflow: hidden; 
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg-color); 
    z-index: -1; 
}

.banner h1 {
    font-size: 28px;
    padding-top:200px;
    z-index: 1; 
   
}

.banner p {
    font-size: 16px;
    margin-bottom: 20px;
    z-index: 1;
}

/* Advantages */
.advantages {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgb(67, 1, 67);
}

h2 {
    color: var(--light-text);
    font-size: 32px;
}

.advantage {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    text-align: center;
    background-color: var(--block-bg);
    border: 2px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--box-shadow);
    margin-bottom: 40px; 
}

.advantage:last-child, .catalog:last-child {
    margin-bottom: 0
};

.icon-wrap {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-color);
    box-shadow: 0 0 10px 2px #c5b7eb;
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 24px;
}

.advantage .icon {
    width: 56px;
    height: 56px;
}

.advantage p {
    font-size: 16px;
    color: var(--light-color);
    margin: 0;
}

/* Catalog */
.catalog {
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 100px 0;
}

.catalog h2 {
    padding: 0 12px;
    margin-bottom: 20px;
}

.catalog > .container {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px var(--box-shadow);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 40px;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    display: block;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    color: var(--dark-text);
    padding: 10px  0;
}

/* Reviews */
.reviews {
    position: relative;
    margin: 30px 0;
    overflow: hidden;
    color: var(--light-color);
    background-color: var(--light-bg-color);
}

.reviews h2 {
    color: var(--dark-text);
}

.review {
    display: none;
    text-align: center;
    padding: 20px;
}

.review.active {
    display: block;
}

.review img {
    border-radius: 8px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 4px 6px var(--dark-shadow);
}

.review p {
    padding: 8px 0;
    margin-top: 20px;
    background-color: var(--dark-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 4px 6px var(--dark-shadow);
    border-radius: 6px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--light-pink-tr);
    color: var(--second-color);
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.slider-btn:hover {
    color: var(--light-pink);
    background: var(--second-color-tr);
}

.slider-btn.prev {
    left: 10px;
}

.slider-btn.prev::before {
    content: '<';
}

.slider-btn.next {
    right: 10px;
}

.slider-btn.next::before {
    content: '>';
}

/* Contacts */
.contacts form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.contacts input, .contacts textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--second-color);
    font-size: 16px;
}

.contacts p {
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 40px;
}

input::placeholder, textarea::placeholder {
    color: var(--color);
    opacity: 0.5;
  }

  input:focus, 
  input:active,
  textarea:focus, 
  textarea:active {
    border: 1px solid var(--hover-btn);
  }
.contacts button {
    align-self: flex-start;
}

/* Footer */
.footer {
    background: var(--light-bg-color);
    padding: 20px 0;
    text-align: center;
}

.footer .social-icons a {
    margin: 0 10px;
    color: var(--color-btn);
    text-decoration: none;
}

.footer .social-icons a:hover {
    text-decoration: underline;
}

.icon-instagram {
    background: black;
    stroke: #a3318387;
}

